<a href="https://colab.research.google.com/github/olivaraira/-4100E223/blob/AILA/python_function1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def sum(i1, i2):
    result = 0
    for i in range(i1, i2):
        result += i
    return result

def main():
    print("Sum from 1 to 10 is", sum(1, 11)) 
    print("Sum from 20 to 37 is", sum(20, 38))
    print("Sum from 35 to 49 is", sum(35, 50))

main() # Call the main function

Sum from 1 to 10 is 55
Sum from 20 to 37 is 513
Sum from 35 to 49 is 630

sum(1, 11) ==> 1+2+3+4....+10=55

# Simple test
please write a function sum(i1,i2,i3) that can do 

sum(i1,i2,i3)

==> range(i1,i2,i3)

def sum(i1,i2,i3):

    -----your code


def main():
    print("Sum1", sum(1, 11,2)) 
    print("Sum2", sum(20, 38,3))
    print("Sum3", sum(35, 50,5))

main() # Call the main function


sum(1, 11,2) = 1+3+5+7+9

sum(20, 38,3) = 20 +23 +26 +29+32+35

sum(35, 50,5) =35+40+45


sum2(1, 11,2) = 1+3+5+7+9

sum2(20, 38,3) = 20 +23 +26 +29+32+35+38

sum2(35, 50,5) =35+40+45+50

In [ ]:
1+3+5+7+9

25

In [ ]:
def swap(a,b):
  a,b = b,a
  return (a,b)

if __name__ == '__main__':
    x = 10
    y = 20
    print('x = %d,y = %d' % (x,y))
    x,y = swap(x,y)
    print('x = %d,y = %d' % (x,y))

x = 10,y = 20
x = 20,y = 10