<a href="https://colab.research.google.com/github/olivaraira/-4100E223/blob/AILA/python_function1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
def sum(i1, i2):
    result = 0
    for i in range(i1, i2):
        result += i
    return result

def main():
    print("Sum from 1 to 10 is", sum(1, 11)) 
    print("Sum from 20 to 37 is", sum(20, 38))
    print("Sum from 35 to 49 is", sum(35, 50))

main() # Call the main function

Sum from 1 to 10 is 10
Sum from 20 to 37 is 252
Sum from 35 to 49 is 35

sum(1, 11) ==> 1+2+3+4....+10=55

# Simple test
please write a function sum(i1,i2,i3) that can do 

sum(i1,i2,i3)

==> range(i1,i2,i3)

def sum(i1,i2,i3):

    -----your code


def main():
    print("Sum1", sum(1, 11,2)) 
    print("Sum2", sum(20, 38,3))
    print("Sum3", sum(35, 50,5))

main() # Call the main function


sum(1, 11,2) = 1+3+5+7+9

sum(20, 38,3) = 20 +23 +26 +29+32+35

sum(35, 50,5) =35+40+45


sum2(1, 11,2) = 1+3+5+7+9

sum2(20, 38,3) = 20 +23 +26 +29+32+35+38

sum2(35, 50,5) =35+40+45+50

In [ ]:
1+3+5+7+9

25

In [5]:
def sum(i1, i2, i3):
    result = 0
    for i in range(i1, i2, i3):
        result += i
    return result

def main():
    print("Sum from 1 to 10 is", sum(1, 11, 8)) 
    print("Sum from 20 to 37 is", sum(20, 38, 2))
    print("Sum from 35 to 49 is", sum(35, 50, 40))

In [6]:
def swap(a,b):
  a,b = b,a
  return (a,b)

if __name__ == '__main__':
    x = 6
    y = 13
    print('x = %d,y = %d' % (x,y))
    x,y = swap(x,y)
    print('x = %d,y = %d' % (x,y))

x = 6,y = 13
x = 13,y = 6

In [7]:
def sort(number1, number2):
    if number1 < number2:
        return number1, number2
    else:
        return number2, number1

num1, num2 = sort(18, 39)

print("num1 is", num1)
print("num2 is", num2)

num1 is 18
num2 is 39

In [8]:
def sort(number1, number2, number3):
    if (number1 < number2) and (number1 < number3):
      if number2 < number3:
        return number1, number2,number3
      else:
        return number1, number3,number2
    if (number2 < number1) and (number2 < number3):
      if number1 < number3:
        return number2, number1,number3
      else:
        return number2, number3,number1    
    if (number3 < number1) and (number3 < number2):
      if number1 < number2:
        return number3, number1,number2
      else:
        return number3, number2,number1 

num1, num2, num3  = sort(1,18,3)

print("num1 is", num1)
print("num2 is", num2)
print("num2 is", num3)

num1 is 1
num2 is 3
num2 is 18

In [9]:
def sort(number1, number2, number3):
    if number1 < number2 < number3:
        return number1, number2, number3
    else:
        return number3, number2, number1

num1, num2, num3 = sort(10, 13, 95)

print("num1 is", num1)
print("num2 is", num2)
print("num3 is", num3)

num1 is 10
num2 is 13
num3 is 95

In [10]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def printArea(width = 28, height = 38):
    area = width * height
    print("width:", width, "\theight:", height, "\tarea:", area)

### use default arguments

In [11]:
printArea()

width: 28 	height: 38 	area: 1064

### use Keyword arguments

In [13]:
printArea(width = 28, height = 38)

width: 28 	height: 38 	area: 1064

In [15]:
printArea(height = 28, width = 38)

width: 38 	height: 28 	area: 1064

### use Positional arguments

In [16]:
printArea(38,28)

width: 38 	height: 28 	area: 1064

In [17]:
printArea(28,38)

width: 28 	height: 38 	area: 1064

In [19]:
f1 = lambda x, y, z: x+2*y+3*z
print(f1(12,23,32))

154

In [21]:
def myfunc(m):
    return m*m

my_list = [2, 5, 8, 11, 14]

## 使用python的map()

print(list(map(lambda x:myfunc(x), my_list)))

[4, 25, 64, 121, 196]