<a href="https://colab.research.google.com/github/olivaraira/-4100E223/blob/main/python20211011.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# python Data Type

Date: 20211011

Name: My dear teacher

# 1_Numerics Data Type

# Arithmetic operators

In [ ]:
a = 17 / 3
a

5.666666666666667

In [ ]:
b = 17 // 3
b

5

In [ ]:
c = 17 % 3
c

2

17 = 5*3 + 2(remainder)

# Logical operators

In [ ]:
x = 5
print(x > 3 and x < 10)

True

x = 5   ==>  [x > 3] true

[x < 10] TRUE

[x > 3] and [x < 10] ==> True and true ==> ture

In [ ]:
x = 5
print(x > 3 and x > 10)

False

x = 5  ==> [x > 3] Ture |  [x>10] False 

[True] and [False] ==> False 


[True] and [True] ==> True

[True] and [False] ==> False 

[False] and [True] ==> False

[False] and [False] ==> False

In [ ]:
x = 5
print(x > 3 or x > 10)

True

[True] or [True] ==> True

[True] or [False] ==> True

[False] or [True] ==> True

[False] or [False] ==> False

# Built-in functions

Python has many Built-in functions

In [ ]:
bin(3)

'0b11'

decimal 3  ==> binary 

0b11 = 1*2 + 1 = 3

ob111 =? 

0b111 = 1* 2^2 + 1*2 +1 =7

In [ ]:
int(0b111)

7

# 2_string data type

In [ ]:
str3 = 'allows embedded "double" quotes'
str3

'allows embedded "double" quotes'

## operation on strings

index

In [ ]:
var1 = 'Hello Python!'

print("var1[1]: ", var1[1])

var1[0]:  H

var1 = 'Hello Python!'

var1[0] ==> H

var1[1] ==> e

and so on

## slice operation

In [ ]:
b = "Hello, World!"
#print(b[2:5])
#print(b[:6])
#print(b[2:])
print(b[-5:-2])

orl

## Python string method

https://www.w3schools.com/python/python_strings_methods.asp

## capitalize()	Converts the first character to upper case

In [ ]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

## Python String join() Method

In [ ]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [ ]:
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [ ]:
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

# 3_list data type

In [ ]:
list1 = [21, 33, 14, 12, 32, 98]

list1[1]

33

list1 = [21, 33, 14, 12, 32, 98]

index of list1

list1[0] => 21

list1[1] => 33

and so on

## slice operation

In [ ]:
list1[1:3]

[33, 14]

## list built-in functions

In [ ]:
len(list1)

6

In [ ]:
max(list1)

98

In [ ]:
min(list1)

12

## 4_dict data type


dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}

==> 3 key-value pairs

'Name': 'DaDaLong'  ==> Name: key , DaDaLong : value

'Age': 17

'Class': 'First'


seperated by ,


many key-value pairs

In [ ]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
print("dict['Age']: ", dict['Age'])

dict['Age']:  17